input {
	border-radius: 30px;
}


body {
	background-image: url(https://gifmaker.me/files/download/home/20190924/18/RAezz4PR3THwIrG51knyOz/output_mtmpok.gif);
}


head { 
	color: #6aff2f
 }

 body { 
 	color: #6aff2f;
  }
h1 { 
    text-align: center; 
    background-color: green; 
}
label { 
    text-align: center; 
    background-color: green; 
}
p {  
    background-color: green; 
}
